* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.responsive-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.quadrado {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    height: 300px;
}
.texto-destaque{
    color: #00ccff;
}

.titulo-blog{
    color: #00ffff;
    content: inherit;
    padding: 10px;
    border: #00ccff solid 5px;
    margin: 20px;
}